@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'poppins',sans-serif;
}
.navbar{
  background: rgba(5, 5, 145, 0.863);
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .logo a{
    font-size: 25px;
    font-weight:400;
    color: white;
 }
 li{
  list-style: none;
  display: inline-block;
 }
 li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
 }
 .navbar button{
  background:rgba(5, 5, 145, 0.863);
  margin-left: 10px;
  width: 99px;
  text-decoration: none;
}
.navbar button:hover{
  background-color:red;
  opacity: 0.5;
}

button a{
  color: white;
  font-weight: bold;
  font-size: 15px;
}


  .first-line,second-line{
    display:block;
  }
  .third-line{
    display: block;
  }

   .fouth-line{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
  header{
    
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    
  }


  .header-image{

    height: 300px;
    width: 400px;
    object-fit: cover;
    }

  .About-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
  h1{
    font-weight: 400px;
    color: rgba(155, 166, 175, 0.925);
    font-size: 20px;
    padding: 20px;
  }

  h2{
    font-weight: bold;
    color: black;
    font-size: 30px;
    letter-spacing: 3px;
  }
  .h-container{
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
    padding: 20px;
  }
  u{
    text-decoration: underline;
    text-underline-offset: 8px;
  }
 .title-container{
  float: left;
  padding: 20px;
 }

 .image-container{
  float: right;
  padding: 20px;
 }
 .module-container{
  width: 100%;
  background-color: rgba(155, 166, 175, 0.274);
  height: 300px;
  padding: 10px;
  margin-top: 25px;
 }
 .general-module{
         display: flex;
         flex-direction: row;
         justify-content: center;
         gap: 15px;
         align-items: center;
      
 }
 
 h3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 h3 .first-line{
  font-size: 25px;
  font-weight: 600;
  color:  rgb(155, 166, 175);;

 }
 h3 .second-line{
  font-size: 20px;
  font-weight: 600;
  color:  rgb(155, 166, 175);

 }

 .module{
  background-color: rgba(255, 255, 255, 0.658);
  color: rgba(0, 0, 255, 0.719);
  box-shadow: 2px 2px 3px 6px rgba(14, 13, 13, 0.192);
  padding: 3px;
  margin-top: 32px;

 }
 .curr-container{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 3px;
  margin-top: 35px;
  color: black !important;
 }
 footer{
  margin-top: auto;
  width: 100%;
  text-align: left;
}
html{
  height: 100%;
}
h6{
  font-size: 13px;
 
}
h5{
  font-size: 15px;
  color: brown;
}
.last-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.image1{
  height: 150px; 
  width: 150px; 
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width:600px){
  body{
    padding: 20px;
  }
  p{
    font-size: 0.85rem;
  }
  .main-container{
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .card{
    width: 100%;
  }
}
  
